a {text-decoration:none;}
#signup fieldset	
{margin: 0 0 10px;
padding: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #c4c4c4;
}

#signup fieldset legend {color:#000;font-family:Verdana, Arial, Helvetica, sans-serif;font-size: 14px;}
#signup ol
{
list-style-type: none;
padding: 0;
margin: 0;

}
		
#signup li
{
margin: 0 0 12px;
position: relative;

}

#signup label
{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
display: inline-block;
color:  #000;vertical-align:middle;
width: 100px;}
	
	
#signup fieldset input,
#signup fieldset textarea,
#signup fieldset select
{background: #ededed url(../images/ico_validation.png) 200px 24px no-repeat;
		display: inline-block;
		border: 1px solid #c4c4c4;
		padding: 3px 3px 3px 3px;
		width: 193px;
		white-space:nowrap;
		vertical-align:middle;
		-moz-transition: background-color 1s ease;
		-webkit-transition: background-color 1s ease;
		-o-transition: background-color 1s ease;
		transition: background-color 1s ease;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}
	
#signup fieldset select		{ width: 200px; padding: 3px; }
#signup fieldset #postcode	{ padding: 3px; width: 200px; }


#signup input::-webkit-input-placeholder,
#signup input:-moz-placeholder {
	color: #A6A6A6;
}

#signup fieldset #initials {width:70px;}
#signup fieldset #maillogin {width:75px;}
#signup fieldset #maildomain {width:95px;}
#signup fieldset #diskname {width:50px;}
#signup fieldset #path_name {width:115px;}
#signup fieldset #path {width:72px;}



#signup input:focus:required:invalid
{ 
	background-color: pink; 
	background-position: 379px 3px;
	outline: none; 
}
#signup input[type=text]:focus:not([pattern]):required:invalid
{
	background-color: #fff; 
	background-position: 379px -29px;
}

#signup input[type=checkbox]
{
	background: none;
	border:none;
}

#signup .validation01
{ 
	background: red;
	color: #fff;
	display: none;
	font-size: 12px;
	padding: 3px;
	position: absolute;
	right: -160px;
	text-align: center;
	top: 0;
	width: 150px;
	
	-moz-box-shadow: 0px 0px 4px #ffffff;
	-webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#signup input:focus + .validation01 							{ display: block; }
#signup input:focus:required:valid + .validation01			  { background: green; }
#signup input:focus:required:valid + .validation01 .invalid	{ display: none; }
#signup input:focus:required:invalid + .validation01 .valid	{ display: none; }

#signup input:required:valid
{
	background-color: #fff;
	background-position: 379px -61px;
}
.add_btn {text-align:left;padding-top:8px;}
.add_btn input{width:100px;height:40px;}

.add_user_table { text-align:left;background:none;font-size: 14px;  border: 0px solid maroon}
.add_user_table td {color:#000;border: 0px dotted #03476F;font-family:Verdana, Arial, Helvetica, sans-serif;font-size: 13px;}
.add_user_table #useropt {vertical-align:top;padding-left:20px;}
.add_user_table #useropt #jabberlbl {white-space:nowrap;}
.title{text-align:center;white-space: nowrap;font-weight: bold;margin-bottom:-10px;text-decoration:underline}
.add_user_table td:hover {}
.add_user_table tbody tr:hover {background: none;border: 0px dotted #03476F;}
.line {width:310px;
 border-bottom: 1px dashed #c4c4c4;
 padding-top:10px; 
}

.alert {color:red;}
.icon-help {cursor:pointer;position:relative;top:10px;height:2px;}


